<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <p>Beer Book</p>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to new_beer_path do %>
          <i class="fas fa-beer nav-link">+</i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "https://github.com/Gakkun89/", target: "_blank" do  %>
          <%= image_tag "https://avatars0.githubusercontent.com/u/28691463?s=460&v=4", class: "avatar-bordered cocktail-hover "%>
        <% end %>
      </li>
    </ul>
  </div>
</div>
